.project-box{
    height: 40rem !important;
    justify-content: flex-start !important;
    display: flex !important;
}

img {
    min-height: 2rem;
}

#home-link {
    position: absolute;
    left: 0rem;
    top: 0rem;
}

#link-list-projects{
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: row;
    margin: 0;
    position: absolute;
    top: 2rem;
}

#project-box {
    width: 16rem;
    height: 32rem;
    margin: 0;
    color: var(--primary-light);
    background-color: var(--primary-dark);
    border: 5px solid var(--primary-dark);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0;
}
#project-box:hover{
    background-color: var(--secondary);
    border: 5px solid var(--secondary);
}
#project-title {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--primary-light);
    background-color: var(--primary-dark);
}

.planted-box{
    background-image: url("./planted-background.jpg");
    background-size: cover;
}
.levelup-box{
    background-image: url("./levelup-background.png");
    background-size: cover;
}

#project-links{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark);
    position: relative;
    top: -5rem;
    opacity: 0;
}

#project-links:hover, #project-box:hover + #project-links{
    opacity: 1;
}

#link-button{
    color: var(--primary-light);
}

#test-modal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 50%;
    right: 50%;
    opacity: .5;
    transform: translate(50%, -50%);
    cursor: pointer;
}

#modal {
    transition: visibility 0s, opacity 100ms linear !important;
}

#modal-info {
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
    display: block;
    background-color: grey;
    opacity: 1;
    height: 45rem;
    width: 50rem;
    border-radius: 0.5rem;
    max-width: 100%;
    max-height: 100%;
}

#close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

@media screen and (max-width:630px) {
    li{
        width: 100%;
        max-width: 95%;
        margin: 0.25rem;
        padding: 0;
    }
    #link-list-projects{
        margin-top: 2rem;
    }
    #project-box {
        height: 8rem;
        width: 100%;
    }
    #box {
        border-radius: 0 !important;
        height: 100% !important;
        width: 100% !important;
    }
    #modal-info{
        height: 100%;
        border-radius: 0;
    }
    
  }
  @media screen and (max-height:45rem) {
        #box{
          height: 100% !important;
          border-radius: 0;
          position:fixed;
          overflow-y: hidden;
        }
        #project-box{
            margin-top: 0;
        }
      }