#contact-container {
    z-index: 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    pointer-events: none;
}
#contact-link {
    z-index: 9;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
    transition: all 300ms ease;
    transform: scale(0.5);
}
#contact-link:hover{
    transform: scale(0.6);
}

/* @media screen and (max-width: 730px) {
    #contact-container {
        position: relative;
        right: 50%;
        transform: translateX(50%);
    }
} */