.project-box{
    height: 45rem !important;
}

img {
    min-height: 2rem;
}

#home-link {
    position: absolute;
    left: 0rem;
    top: 0rem;
}
#title-name{
    margin: 0;
    margin-top: 0.5rem;
    font-size: 4rem;

    line-height: 4rem;
}

#link-list-projects{
    width: 100%;
    max-width: 100%;
    position: absolute;
    right: 50%;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#project-box {
    width: 15rem;
    height: 15rem;
    margin: 0;
    background-color: rgb(59, 59, 59);
    border: 0;
    border-radius: 0.5rem;
}

#project-box:hover {
    cursor: pointer;
}


#test-modal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 50%;
    right: 50%;
    opacity: .5;
    transform: translate(50%, -50%);
    transition: all 100ms;
    cursor: pointer;
}

#modal-info {
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: all 100ms;
    position: absolute;
    display: block;
    background-color: grey;
    opacity: 1;
    height: 40rem;
    width: 50rem;
    border-radius: 0.5rem;
    max-width: 100%;
    max-height: 100%;
}

#close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

@media screen and (max-width:630px) {
    li{
        width: 100%;
        max-width: 95%;
        margin: 0.25rem;
        padding: 0;
        margin-top: 2rem;
    }
    #link-list-projects{
        margin-top: 2rem;
    }
    #project-box {
        height: 8rem;
        width: 100%;
    }
    #box {
        border-radius: 0 !important;
    }
    #modal-info{
        height: 100%;
        border-radius: 0;
    }
  }