:root {
  --primary: #006B7D;
  --secondary: #80593d;/*  c35800*/
  --primary-light: #95B0B7;
  --primary-dark: #324a51;
  --secondary-light: #b68b6d;
  --secondary-dark: #664731;
}

body {
  margin: 0;
  /* font-family: 'League Spartan', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-dark);
  text-align: center;
  color: var(--primary-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style-type: none;
  transition: all 500ms ease-in-out;
  margin: 1rem;
}
img {
  min-height: 2rem;
}
a{
  text-decoration: none;
  color: var(--primary-dark)
}
#box{
  border-radius: 0.5rem;
  height: 30rem;
  max-width: 100%;
  min-width: 780px;
  width: 60rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--primary-light);
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width:630px) {
  #box{
    height: 100%;
    width: 100%;
    min-width: 100%;
  }
}
@media screen and (max-height:45rem) {
  #box{
    height: 100% !important;
  }
}