/* #homepage-btns {
    width: 10rem;
    border: 2px solid var(--primary-light);
    border-radius: 2rem;
    height: 3rem;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2.75rem;
    cursor: pointer;
    background-color: var(--secondary);
} */

#my-name{
    text-align: left;
    font-size: 7rem;
    height: 10rem;
    margin: 0;
    margin-top: 1.3rem;
    padding: 0;
    line-height: 10rem;
    font-weight: 600;
}
#last-name{
    text-align: left;
    font-size: 7rem;
    height: 10rem;
    margin: 0;
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    padding: 0;
    line-height: 10rem;
    font-weight: 600;

}
#alittleflexboxaction{
    display: flex;
    min-width: 750px;
}
#first-letter{
    font-size: 10rem;
    margin: 0;
    padding: 0;
    transform: translateX(.5rem);
    margin-left: 3rem;
}
#title-name{
    padding-bottom: 1rem;
    position: absolute;
    left: 8rem;
    top: 9rem;
    font-size: 1.5rem;
    color: var(--secondary)
}

#link-list{
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}


@media screen and (max-width:630px) {
    #alittleflexboxaction{
        min-width: 300px;
        justify-content: center;
        flex-wrap: wrap;
    }
    #my-name, #last-name{
        font-size: 6rem;
        margin: 0;
        padding: 0;
    }
    #first-letter{
        font-size: 6rem;
        font-weight: 600;
        margin-right: 5px;
    }
    #title-name{
        top: 22rem;
        left:50%;
        transform: translateX(-50%);
        min-width: 200px;
    }
    #first-letter{
        margin-left: 0;
    }
}


.btn {
    color: var(--primary-dark);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0 2em;
    max-width: 20rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%; 
}

.btn-2 {
    letter-spacing: 1.5px; 
}
      
.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px; 
}
      
.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    width: 0;
}
      
.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    border-color: var(--secondary);
    transition: width 350ms ease-in-out !important;
    width: 70%;
}
      
.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%; 
}